# Google Apps Script API URL (deploy as web app) - usado para formularios y consulta de licencias
VITE_FORM_API=https://script.google.com/macros/s/AKfycbwCOqCJuDGzvfzlb7iBdLccCDWcMtXB0MNPo2Gekr4n1VAE75iBsY2nvjCylPz2jqCi/exec

# Admin password (change this!)
VITE_ADMIN_PASSWORD=LIO-ADMIN-2024

# Netlify Functions API URL (leave as default for Netlify deploy)
VITE_API_URL=/.netlify/functions
